.cabeçalho {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-imagem {
    width: 10%;
}

.cabeçalho-título {
    color: white;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 14px;
    font-size: 24px;
    color: white;
}

.fundo-principal{
    background-color: darkgrey;
}